.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 21px;
  margin: 1.5rem 10%;
  background: #b4b5b159;
  backdrop-filter: blur(21.582px);
  border-radius: 15px;
}

.banner > div {
  display: flex;
  align-items: center;
}

.banner.closed {
  display: none;
}

.banner-img {
  padding: 1rem 1.5rem 1rem 1rem;
}

.banner-link-btn {
  padding: 16px 32px;
  margin-right: 1.5rem;
  width: 7rem;
}

.banner-link-btn:before {
  background: var(--gradient-2);
}

.banner-close {
  display: flex;
  margin-right: 1.5rem;
  border-radius: 50%;
  height: 1.3em;
  width: 1.5em;
  padding: 5px;
  background: #b4b5b133;
  transition: opacity 0.5s ease;
}

.banner-close:hover {
  opacity: 0.7;
}

.banner-text p {
  color: #fff;
  padding: 0;
}

.banner-text h3,
.banner-text p {
  font-size: 1rem;
}

.banner-close {
  color: #b2aaaa;
  cursor: pointer;
  transition: color 0.5s ease;
}

.banner-close:hover {
  color: white;
}

@media screen and (max-width: 868px) {
  .banner-text {
    margin: 0 4% 0 6%;
    width: 85%;
  }
  .banner-link-btn {
    width: fit-content;
    text-align: center;
    padding: 10px 20px;
  }
  .banner {
    margin: 1.5rem 5%;
    padding: 0.25rem;
    font-size: 0.5rem;
  }
  .banner-close {
    min-width: 16px;
  }
  .banner-img {
    margin-left: 8%;
    width: fit-content;
    height: 100%;
    padding: 0;
  }
  .banner-text p{
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-text {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  .banner-link-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -16%;
    justify-content: flex-start;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-close {

    min-width: 17px;
    min-height: 18px;
  }
}
